yoni-trades-file-sys-api/src/main/mule/yoni-trades-file-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="yoni-trades-file-sys-api-main">
        <http:listener config-ref="yoni-trades-file-sys-api-httpListenerConfig" path="/api/v1/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="yoni-trades-file-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <flow-ref doc:name="set-error-response-subflow" doc:id="d7b95005-5901-4be6-a7dd-7720c9146be8" name="set-error-response-subflow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <flow-ref doc:name="set-error-response-subflow" doc:id="e8f7e40e-b3b9-48da-b36f-c9765a7d117f" name="set-error-response-subflow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <flow-ref doc:name="set-error-response-subflow" doc:id="3b1dc35a-cda3-4e5c-a817-327f594a6a1f" name="set-error-response-subflow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <flow-ref doc:name="set-error-response-subflow" doc:id="5b3da1ef-71a5-4f60-8677-da5e8e1b6235" name="set-error-response-subflow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <flow-ref doc:name="set-error-response-subflow" doc:id="a8e8e31d-f3b4-4326-8c9d-027d288a9298" name="set-error-response-subflow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <flow-ref doc:name="set-error-response-subflow" doc:id="02310490-339a-4426-8a71-9eeb4f793190" name="set-error-response-subflow" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="yoni-trades-file-sys-api-console">
        <http:listener config-ref="yoni-trades-file-sys-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="yoni-trades-file-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\trade:application\json:yoni-trades-file-sys-api-config">
        <flow-ref doc:name="process-file-sub-flow" doc:id="cdfd619c-604c-4157-bed7-3ec243987e7d" name="process-file-sub-flow" />
    </flow>
</mule>
